Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

DO NOT MERGE: test eni routes
  src/consts/warpRoutes.yaml
Due: none

test: local link
  package.json
Due: prettier --write

feat: add USDCSTAGE/eclipsemainnet warp route config
  src/consts/warpRoutes.yaml
Due: none

feat: add ERC-2612 permit support for gasless approvals
  src/features/tokens/permit.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/types.ts
  src/features/transfer/useTokenTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: add missing queryKey dependencies for exhaustive-deps lint rule
  src/features/tokens/permit.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update to SDK beta with permit support, add wasm-unsafe-eval CSP
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update superseed warpRouteId
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: enable ENI routes
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: enable ENI routes (#897)
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: aleo nexus support
  .gitignore
  next.config.js
  package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/link-monorepo.js
  scripts/unlink-monorepo.js
  src/consts/chains.yaml
  src/consts/config.ts
  src/consts/warpRoutes.yaml
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: integrate refiner for user survey
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/layout/AppLayout.tsx
  src/features/analytics/refiner.ts
  src/features/transfer/useTokenTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: rename reserved variable name
  src/features/analytics/refiner.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: fail gracefully if refiner fails to load
  src/features/analytics/refiner.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add script for local dependency linking
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/link-monorepo.js
  scripts/unlink-monorepo.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: fix linting and stray string
  eslint.config.mjs
  next.config.js
  package.json
  pnpm-lock.yaml
  src/features/analytics/refiner.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: reset package.json
  package.json
  pnpm-lock.yaml
  scripts/unlink-monorepo.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: readd pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: restore pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: remove frame ancestors
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: linting issues
  src/features/analytics/refiner.ts
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/TransfersDetailsModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: clean URLs before fetching
  src/features/transfer/TransfersDetailsModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add WBTC and BNB krown routes to whitelist
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: resolve pr comments
  scripts/README.md
  scripts/link-monorepo.js
  scripts/unlink-monorepo.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: link tron
  package.json
  pnpm-lock.yaml
  src/consts/chains.yaml
  src/consts/config.ts
  src/consts/warpRoutes.yaml
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: tronweb ethers
  package.json
  pnpm-lock.yaml
  src/consts/warpRoutes.yaml
Due: prettier --write

feat: tron nexus support
  pnpm-lock.yaml
  src/consts/warpRoutes.yaml
Due: none

feat: integrate refiner for user survey + fix linting (#898)
  eslint.config.mjs
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/layout/AppLayout.tsx
  src/features/analytics/refiner.ts
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/transfer/useTokenTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: merge conflicts
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: optimize token lookups
  eslint.config.mjs
  src/features/store.ts
  src/features/tokens/TokenList.tsx
  src/features/tokens/hooks.ts
  src/features/tokens/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add WBTC bridging [do not merge]
  src/consts/warpRoutes.yaml
Due: none

fix: add provider-sdk
  package.json
Due: prettier --write

fix: wasm-unsafe-eval
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update Footer with Support link
  src/components/nav/Footer.tsx
  src/consts/links.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update Footer with Support link (#905)
  src/components/nav/Footer.tsx
  src/consts/links.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: change to weak map; memoize cb
  src/features/tokens/UnifiedTokenChainModal.tsx
  src/features/tokens/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update decimals places and formatting
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: show native token symbol in insufficient gas error message
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: sonarqube integration
  .github/workflows/sonarqube.yaml
  sonar-project.properties
Due: none

feat: integration with intercom chatbox
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/layout/AppLayout.tsx
  src/features/analytics/intercom.ts
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Path conditions:
  prettier --write: (any of: *.{css,md,json}) or (any of: *.{js,ts,jsx,tsx})
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  vitest related --run --coverage=false: any of: *.{js,ts,jsx,tsx}
