Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

.lintstagedrc.json:

{
  "*.{css,md,json}": ["prettier --write"],
  "*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write", "vitest related --run --coverage=false"]
}

chore: fix AGENTS.md review path after REVIEW.md migration (#1005)
  AGENTS.md
Due: prettier --write

style: restyle timeline with inline icons and purple gradient
  src/features/transfer/TransfersDetailsModal.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

test: add default token and query param e2e tests, extract e2e workflow
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  tests/page-load/default-tokens.spec.ts
  tests/page-load/query-param-override.spec.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

ci: restore build job in ci.yml, reuse artifact in e2e workflow
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: none

ci: use actions/cache for build output instead of artifacts
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: none

ci: add list reporter for test progress output in CI
  playwright.config.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

test: use Celestia TIA for Cosmos wallet modal test
  tests/wallet-connect/protocol-wallet-modals.spec.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: update sidebarmenu on mobile web (#150) (#152)
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

docs: fix e2e test commands in README
  README.md
Due: prettier --write

test: add Playwright E2E test suite (#991)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .gitignore
  README.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/features/tokens/TokenSelectField.tsx
  tests/chain-selection/edit-chain.spec.ts
  tests/chain-selection/filter-by-protocol.spec.ts
  tests/chain-selection/filter-by-type.spec.ts
  tests/chain-selection/sort-chains.spec.ts
  tests/helpers/locators.ts
  tests/page-load/default-tokens.spec.ts
  tests/page-load/header-footer.spec.ts
  tests/page-load/query-param-override.spec.ts
  tests/page-load/tip-card.spec.ts
  tests/page-load/transfer-form-visible.spec.ts
  tests/sidebar/sidebar-content.spec.ts
  tests/token-selection/filter-chains.spec.ts
  tests/token-selection/open-close-modal.spec.ts
  tests/token-selection/search-tokens.spec.ts
  tests/token-selection/select-destination-token.spec.ts
  tests/token-selection/select-origin-token.spec.ts
  tests/transfer-form/connect-wallet-prompt.spec.ts
  tests/transfer-form/enter-amount.spec.ts
  tests/transfer-form/swap-tokens.spec.ts
  tests/wallet-connect/evm-wallet-modal.spec.ts
  tests/wallet-connect/protocol-wallet-modals.spec.ts
  vitest.config.mts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: add ctusd to token whitelist
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

refactor: use Tailwind classes instead of CSS overrides for timeline
  src/features/transfer/TransfersDetailsModal.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address PR review feedback for transfer timeline
  src/features/messages/queries/encoding.ts
  src/features/messages/useMessageDeliveryStatus.ts
  src/features/messages/useMessageHistory.ts
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/transfer/utils.test.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: pr feedback
  src/pages/api/predicate/attestation.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: pr feedback
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/predicate.ts
  src/features/transfer/useFeeQuotes.ts
  src/features/transfer/useTokenTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: pr feedback
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/predicate.ts
  src/lib/predicateClient.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Chore/add kaia usdt (#143)
  src/consts/warpRoutes.yaml
Due: none

feat: show destination token in transfer details and history
  src/features/messages/useMergedTransferHistory.ts
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address PR review feedback
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: upgrade packages and add showTooltips prop
  package.json
  pnpm-lock.yaml
  src/features/transfer/TransfersDetailsModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: disambiguate findRouteToken when multiple routes share same origin collateral
  src/features/tokens/utils.test.ts
  src/features/tokens/utils.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/fees.ts
  src/features/transfer/maxAmount.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Merge pull request #1008 from hyperlane-xyz/fix/find-route-token-destination-disambiguation
  src/features/tokens/utils.test.ts
  src/features/tokens/utils.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/fees.ts
  src/features/transfer/maxAmount.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

ci: only run e2e tests for PRs targeting main
  .github/workflows/ci.yml
Due: none

feat: relayer api
  .env.example
  src/consts/chains.yaml
  src/consts/warpRoutes.yaml
  src/features/store.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/types.ts
  src/features/transfer/useRelayStatus.ts
  src/features/transfer/useTokenTransfer.ts
  src/lib/relayerClient.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

ci: only run e2e tests for PRs targeting main (#1009)
  .github/workflows/ci.yml
Due: none

feat: add TronWalletContext provider for Tron wallet support
  package.json
  pnpm-lock.yaml
  src/features/wallet/context/TronWalletContext.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: show destination token in transfer details and history (#1007)
  src/features/messages/useMergedTransferHistory.ts
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: add missing variable
  src/features/transfer/TransfersDetailsModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: dependencies issues
  src/features/transfer/TransfersDetailsModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add TronWalletContext provider for Tron wallet support (#1011)
  package.json
  pnpm-lock.yaml
  src/features/wallet/context/TronWalletContext.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address PR review feedback
  src/features/messages/queries/build.ts
  src/features/messages/queries/encoding.ts
  src/features/messages/useMessageDeliveryStatus.ts
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/transfer/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: run prettier
  src/features/transfer/TransfersDetailsModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix(ci): enable inline PR review comments for claude review workflows
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): quote Bash tool pattern to preserve space in argument parsing
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): use multiline YAML for claude_args to avoid quoting issues
  .github/workflows/claude-code-review.yml
Due: none

feat: transfer progress timeline and delivery tracking (#1001)
  pnpm-lock.yaml
  src/features/messages/queries/build.ts
  src/features/messages/queries/encoding.ts
  src/features/messages/queries/fragments.ts
  src/features/messages/useMessageDeliveryStatus.ts
  src/features/messages/useMessageHistory.ts
  src/features/store.ts
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/transfer/types.ts
  src/features/transfer/utils.test.ts
  src/features/transfer/utils.ts
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix(ci): enable inline PR review comments for claude review workflows (#1012)
  .github/workflows/claude-code-review.yml
Due: none

fix: lock file
  pnpm-lock.yaml
Due: none

fix: skip USDC approval when allowance is already sufficient
  src/features/tokens/__tests__/approval.test.ts
  src/features/tokens/approval.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/__tests__/useTokenTransfer.test.ts
  src/features/transfer/useTokenTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false
