Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update dependencies to latest (#973)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add USD1/eni to the whitelist
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore move USD1/eni iinto the correct section
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

refactor: clean up address override logic in balance hooks
  src/features/balances/hooks.ts
  src/features/tokens/TokenList.tsx
  src/features/tokens/TokenSelectField.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: v2 token picker balance display + smart sorting (#969)
  src/components/input/SearchInput.tsx
  src/consts/config.ts
  src/features/balances/hooks.ts
  src/features/tokens/TokenList.tsx
  src/features/tokens/TokenListPanel.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/UnifiedTokenChainModal.tsx
  src/features/tokens/balances.ts
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: stub tron typechain to fix flaky ethers v5/v6 build failure
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove synthetic USDC/ethereum-ink route
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: stub tron typechain to fix flaky build failure (#976)
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

test: verify tron typechain fix with beta packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "fix: stub tron typechain to fix flaky build failure (#976)"
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: restore chain metadata editing in v2
  src/features/chains/ChainConnectionWarning.tsx
  src/features/chains/ChainEditModal.tsx
  src/features/chains/ChainFilterPanel.tsx
  src/features/chains/ChainList.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/UnifiedTokenChainModal.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add chain filter, sort, and disabled chain support
  src/features/chains/ChainFilterPanel.tsx
  src/features/chains/ChainList.tsx
  src/features/chains/MobileChainQuickSelect.tsx
  src/features/chains/chainFilterSort.ts
  src/features/chains/hooks.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove unused config flags showAddRouteButton, showAddChainButton, showDisabledTokens
  src/consts/config.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

refactor: align ChainConnectionWarning with main branch style
  src/features/chains/ChainConnectionWarning.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: prevent chain edit modal from flickering on metadata change
  src/features/chains/ChainConnectionWarning.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

style: use UpDownArrowsIcon for sort + Color constants for icons
  src/features/chains/ChainFilterPanel.tsx
  src/features/chains/ChainList.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address PR review feedback
  src/features/chains/MobileChainQuickSelect.tsx
  src/features/chains/chainFilterSort.test.ts
  src/features/chains/chainFilterSort.ts
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: remove redundant pre-sort in useChainInfos + CSS variable for gray
  src/features/chains/hooks.ts
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: prevent filter dropdown from clipping on mobile screens
  src/features/chains/ChainFilterPanel.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: predicate nexus support
  .env.example
  package.json
  pnpm-lock.yaml
  scripts/link-monorepo.js
  src/consts/chains.yaml
  src/consts/warpRoutes.yaml
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/types.ts
  src/features/transfer/useFeeQuotes.ts
  src/features/transfer/useTokenTransfer.ts
  src/features/transfer/utils.ts
  src/lib/predicateClient.ts
  src/pages/api/predicate/attestation.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: predicate estimate gas
  pnpm-lock.yaml
  src/consts/warpRoutes.yaml
  src/features/transfer/useFeeQuotes.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: sepolia <> seismictestnet
  src/consts/chains.yaml
  src/consts/warpRoutes.yaml
Due: none

feat: restrict warp route whitelist to Celestia routes
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: use EvmHypNative standard for Eden TIA warp route
  src/consts/warpRoutes.yaml
Due: none

fix: show EvmNative tokens with connections in token dropdown
  src/features/tokens/TokenListModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add Celestia warp route configs for SOL, ETH, and WBTC
  src/consts/warpRoutes.yaml
Due: none

feat: add TIA warp route config for Celestia <-> Eden
  src/consts/warpRouteWhitelist.ts
  src/consts/warpRoutes.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Apply suggestion from @paulbalaji
  src/consts/warpRoutes.yaml
Due: none

feat: add eUSD/celestia and eden to preview
  src/consts/warpRoutes.yaml
Due: none

chore: update SDK packages to 25.4.0-beta with EvmNative fix
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: stub arbitrum/chainlink typechain to fix build with core@11
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: broaden core typechain stub for core@11 compat
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update SDK beta with gas estimation fix
  package.json
  pnpm-lock.yaml
Due: prettier --write

Test/sentry (#134)
  .github/workflows/prod-hyperlane-warp-ui-template.yaml
  Dockerfile
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: use stable 25.4.0 releases instead of beta packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: address paulbalaji's inline review feedback
  src/features/chains/MobileChainQuickSelect.tsx
  src/features/chains/chainFilterSort.test.ts
  src/features/chains/chainFilterSort.ts
  src/features/tokens/UnifiedTokenChainModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: v2 chain filter, sort, edit & disabled chain support (#980)
  src/consts/config.ts
  src/features/chains/ChainConnectionWarning.tsx
  src/features/chains/ChainEditModal.tsx
  src/features/chains/ChainFilterPanel.tsx
  src/features/chains/ChainList.tsx
  src/features/chains/MobileChainQuickSelect.tsx
  src/features/chains/chainFilterSort.test.ts
  src/features/chains/chainFilterSort.ts
  src/features/chains/hooks.ts
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/UnifiedTokenChainModal.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: update deps to fix tron (#979)
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: prefer featured tokens for default selection
  src/features/tokens/hooks.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: use REFINER_TRANSFER_FORM_ID for transfer survey
  src/features/analytics/refiner.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Path conditions:
  prettier --write: (any of: *.{css,md,json}) or (any of: *.{js,ts,jsx,tsx})
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  vitest related --run --coverage=false: any of: *.{js,ts,jsx,tsx}
