Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

perf: defer protocol-specific transfer code
  package.json
  scripts/check-bundle-size.mjs
  src/features/balances/hooks.ts
  src/features/balances/read.ts
  src/features/messages/useSolanaDestSwapStatus.ts
  src/features/transfer/engine/approval.ts
  src/features/transfer/engine/useTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: revert custom changes
  .env.example
  package.json
  pnpm-lock.yaml
  src/consts/config.ts
  src/consts/warpRouteWhitelist.ts
  src/consts/warpRoutes.yaml
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: format
  pnpm-workspace.yaml
Due: none

feat: seismictestnet demo
  src/consts/warpRouteWhitelist.ts
  src/consts/warpRoutes.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: local link
  package.json
  patches/@provablehq__sdk@0.11.3.patch
  patches/@provablehq__wasm@0.11.3.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/consts/warpRoutes.yaml
Due: prettier --write

fix: pr review
  scripts/link-monorepo.js
  scripts/unlink-monorepo.js
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address latest PR review round
  scripts/unlink-monorepo.js
  src/features/warpCore/warpCoreConfig.test.ts
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: Aleo token v2 support (#1157)
  .env.example
  package.json
  patches/@provablehq__sdk@0.11.3.patch
  patches/@provablehq__wasm@0.11.3.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/link-monorepo.js
  scripts/unlink-monorepo.js
  src/consts/config.ts
  src/features/wallet/context/AleoWalletContext.tsx
  src/features/warpCore/warpCoreConfig.test.ts
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: re-add USDC/aleo and USDT/aleo to Nexus whitelist
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: re-add USDC/aleo and USDT/aleo to Nexus whitelist (#1164)
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

test: add stable transfer flow hooks
  src/components/buttons/ConnectAwareSubmitButton.tsx
  src/features/transfer/engine/TransferDetailsModal.tsx
  src/features/transfer/engine/TransferForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: review complete route transaction plan
  src/features/transfer/engine/TransferForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat(rpc): rank-based fallback transport to demote faulty RPCs
  src/features/balances/evm.ts
  src/features/wallet/context/EvmWalletContext.tsx
  src/utils/rpcTransport.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: use rpc override as primary endpoint
  src/features/chains/metadata.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: format RPC override change
  src/features/chains/metadata.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: use rpc override as primary endpoint (#1166)
  src/features/chains/metadata.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: revert local link
  .env.example
  package.json
  patches/@provablehq__sdk@0.9.15.patch
  patches/@provablehq__wasm@0.9.18.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/link-monorepo.js
  scripts/unlink-monorepo.js
  src/consts/config.ts
  src/features/wallet/context/AleoWalletContext.tsx
  src/features/warpCore/warpCoreConfig.test.ts
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: format
  src/consts/warpRoutes.yaml
Due: none

fix(rpc): avoid ranked-transport probe-loop leak in balance path
  src/features/balances/evm.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix(rpc): skip ranking probe loop for single-RPC chains
  src/utils/rpcTransport.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: added svm offchain quoting support
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/useSvmQuotedTransfer.ts
  src/features/transfer/useTokenTransfer.ts
  src/pages/api/v2/quote/[endpoint].ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: display offchain fees for EVM CC and SVM origins in ReviewDetails
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/useQuotedCalls.ts
  src/features/transfer/useSvmQuotedTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: bump @hyperlane-xyz sdk/utils/widgets to 38.0.0 for SVM fee quoting
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: fixed logic merging warp core config that assumed that every non primary type is an array
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

test: address PR review feedback on warp core options merge
  src/features/warpCore/warpCoreConfig.test.ts
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: use rpc override as primary endpoint (#1168)
  src/features/chains/metadata.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: correct SVM same-chain swap fee display
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/fees.test.ts
  src/features/transfer/fees.ts
  src/features/transfer/useSvmQuotedTransfer.test.ts
  src/features/transfer/useSvmQuotedTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

style: apply oxfmt formatting to SVM fee-quoting files
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/fees.test.ts
  src/features/transfer/useQuotedCalls.ts
  src/features/transfer/useSvmQuotedTransfer.test.ts
  src/features/transfer/useSvmQuotedTransfer.ts
  src/features/transfer/useTokenTransfer.ts
  src/pages/api/v2/quote/[endpoint].ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address PR review on SVM quoted-transfer flow
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/useSvmQuotedTransfer.test.ts
  src/features/transfer/useSvmQuotedTransfer.ts
  src/features/transfer/useTokenTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address bundle review feedback
  next.config.js
  scripts/check-bundle-size.mjs
  src/features/chains/utils.ts
  src/features/tokens/types.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: keep bundle guard compatible with latest main
  scripts/check-bundle-size.mjs
  src/features/transfer/useQuotedCalls.test.ts
  src/features/transfer/useQuotedCalls.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

style: format warp core imports
  src/features/warpCore/warpCoreConfig.test.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: upgrade hyperlane deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: ethers
  pnpm-workspace.yaml
Due: none

fix: ethers
  pnpm-lock.yaml
Due: none

fix: add logo
  src/consts/warpRoutes.yaml
Due: none

fix: repoint error boundary support link to Help Center
  src/components/errors/ErrorBoundary.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Path conditions:
  prettier --write: (any of: *.{css,md,json}) or (any of: *.{js,ts,jsx,tsx})
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  vitest related --run --coverage=false: any of: *.{js,ts,jsx,tsx}
