Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

fix latest PR review feedback
  src/components/icons/TokenIcon.tsx
  src/components/layout/AppLayout.tsx
  src/components/nav/Header.tsx
  src/consts/app.ts
  src/styles/globals.css
  src/utils/theme.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: run prettier on TokenIcon
  src/components/icons/TokenIcon.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: unify themed background CSS and dark body gradient
  src/styles/globals.css
Due: prettier --write

fix: restore dark mode CSS hook classes lost during rebase
  src/components/input/SearchInput.tsx
  src/components/tip/TipCard.tsx
  src/features/chains/ChainEditModal.tsx
  src/features/chains/ChainFilterPanel.tsx
  src/features/chains/ChainList.tsx
  src/features/tokens/TokenList.tsx
  src/features/tokens/TokenListPanel.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/UnifiedTokenChainModal.tsx
  src/features/transfer/TransferSection.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: run prettier on dark mode hook class changes
  src/features/chains/ChainEditModal.tsx
  src/features/tokens/TokenList.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: remove redundant inline background styles from AppLayout
  src/components/layout/AppLayout.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: move persistThemeMode out of state updater into useEffect
  src/components/layout/AppLayout.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: refine dark mode for transfer UI, wallet dropdown, and wallet icons
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/features/wallet/WalletDropdown.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: unify border-radius across transfer form elements
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/TransferSection.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: use case-insensitive check in toDarkVariantSrc to match toOriginalVariantSrc
  src/utils/imageBrightness.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: flatten dark mode transfer card depth from 3 tiers to 1
  src/styles/globals.css
Due: prettier --write

fix: soften wallet link and import-token text in dark mode
  src/features/tokens/ImportTokenButton.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: add missing dark mode hook classes to TransfersDetailsModal
  src/features/transfer/TransfersDetailsModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: use direct path selectors for dark mode SVG fill overrides
  src/styles/globals.css
Due: prettier --write

fix: comprehensive dark mode for token/chain picker modal
  src/features/chains/ChainList.tsx
  src/features/tokens/TokenList.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: brighten chain picker toolbar and edit icons in dark mode
  src/features/chains/ChainFilterPanel.tsx
  src/features/chains/ChainList.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: use border-only style for token picker hint in dark mode
  src/styles/globals.css
Due: prettier --write

fix: use case-insensitive attribute selectors for chain picker icon fills
  src/styles/globals.css
Due: prettier --write

fix: tone down bright toggle/info icons in chain edit modal dark mode
  src/styles/globals.css
Due: prettier --write

refactor: centralize dark mode colors into CSS custom properties
  src/styles/globals.css
Due: prettier --write

fix: consistent rounded-md on token rows and chain filter panel
  src/features/chains/ChainFilterPanel.tsx
  src/features/tokens/TokenList.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: use useLayoutEffect for theme DOM sync to avoid one-frame flash
  src/components/layout/AppLayout.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: dark bg on chain badge so white chain logos stay visible
  src/features/tokens/TokenChainIcon.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: ensure tip card close icon SVG is visible in dark mode
  src/styles/globals.css
Due: prettier --write

test: add Playwright E2E test suite
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/chain-selection/edit-chain.spec.ts
  tests/chain-selection/filter-by-protocol.spec.ts
  tests/chain-selection/filter-by-type.spec.ts
  tests/chain-selection/sort-chains.spec.ts
  tests/page-load/header-footer.spec.ts
  tests/page-load/tip-card.spec.ts
  tests/page-load/transfer-form-visible.spec.ts
  tests/sidebar/sidebar-content.spec.ts
  tests/token-selection/filter-chains.spec.ts
  tests/token-selection/open-close-modal.spec.ts
  tests/token-selection/search-tokens.spec.ts
  tests/token-selection/select-destination-token.spec.ts
  tests/token-selection/select-origin-token.spec.ts
  tests/transfer-form/connect-wallet-prompt.spec.ts
  tests/transfer-form/enter-amount.spec.ts
  tests/transfer-form/swap-tokens.spec.ts
  tests/wallet-connect/evm-wallet-modal.spec.ts
  tests/wallet-connect/protocol-wallet-modals.spec.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

ci: add Playwright CI workflow and test:e2e script
  .github/workflows/playwright.yml
  package.json
  playwright.config.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add default tokens and uncap featured token display
  src/consts/config.ts
  src/features/tokens/TokenList.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: auto-select destination and widen route tooltip
  src/features/tokens/TokenList.tsx
  src/features/tokens/TokenSelectField.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: clear recipient when auto-selected destination changes protocol
  src/features/tokens/TokenSelectField.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: move imports to top of transfer/utils.ts
  src/features/transfer/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: v2 enhancements — default tokens, featured uncap, auto-select destination (#992)
  src/consts/config.ts
  src/features/tokens/TokenList.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: fix CI failures for Playwright and vitest
  .github/workflows/playwright.yml
  playwright.config.ts
  vitest.config.mts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address PR review feedback on E2E tests
  tests/transfer-form/swap-tokens.spec.ts
  tests/wallet-connect/protocol-wallet-modals.spec.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: chain edit modal dark mode — logos, tooltips, status circles, add icons
  src/features/chains/ChainEditModal.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: process dark token logos synchronously to avoid light-logo flash
  src/components/icons/TokenIcon.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: add metadata to dark logo observer effect dependencies
  src/features/chains/ChainEditModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Chore/add gsf token polygon (#141)
  src/consts/warpRoutes.yaml
Due: none

fix: guard against missing protocol logo in wallet modal
  src/features/wallet/WalletProtocolModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: resolve destination token for multi-collateral routes
  src/features/tokens/utils.test.ts
  src/features/tokens/utils.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/maxAmount.ts
  src/features/transfer/useFeeQuotes.ts
  src/features/transfer/useTokenTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: check all same-chain connections for route matching
  src/features/tokens/utils.test.ts
  src/features/tokens/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Path conditions:
  prettier --write: (any of: *.{css,md,json}) or (any of: *.{js,ts,jsx,tsx})
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  vitest related --run --coverage=false: any of: *.{js,ts,jsx,tsx}
