Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

.lintstagedrc.json:

{
  "*.{css,md,json}": ["prettier --write"],
  "*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write", "vitest related --run --coverage=false"]
}

feat: make create-merge-prs workflow more robust with Gonk migration (#824)
  .github/workflows/create-merge-prs.yaml
Due: none

chore: bump dependencies
  package.json
  yarn.lock
Due: prettier --write

ci: add workflow to auto-update Hyperlane dependencies
  .github/workflows/update-hyperlane-deps.yml
Due: none

chore: bump dependencies (#830)
  package.json
  yarn.lock
Due: prettier --write

chore: simplify PR title per review feedback
  .github/workflows/update-hyperlane-deps.yml
Due: none

ci: add workflow to auto-update Hyperlane dependencies (#831)
  .github/workflows/update-hyperlane-deps.yml
Due: none

fix: correct gonk auth order in create-merge-prs workflow
  .github/workflows/create-merge-prs.yaml
Due: none

fix: correct gonk auth order in create-merge-prs workflow (#834)
  .github/workflows/create-merge-prs.yaml
Due: none

chore: upgrade yarn to 4.12.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

chore: upgrade yarn to 4.12.0 (#835)
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

chore: upgrade nextjs version
  next-env.d.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: upgrade nextjs version (#836)
  next-env.d.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: change token identification to use an identifier instead of tokenIndex
  src/features/analytics/utils.ts
  src/features/tokens/SelectOrInputTokenIds.tsx
  src/features/tokens/SelectTokenIdField.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/balances.ts
  src/features/tokens/hooks.ts
  src/features/tokens/useTokenPrice.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/types.ts
  src/features/transfer/useFeeQuotes.ts
  src/features/transfer/useTokenTransfer.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove unused tokenIndex functions
  src/features/tokens/hooks.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: create TokenChainIcon component
  src/features/tokens/TokenChainIcon.tsx
  src/features/tokens/TokenListModal.tsx
  src/features/tokens/TokenSelectField.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: build origin and destination token arrays
  src/features/store.ts
  src/features/tokens/hooks.ts
  src/features/tokens/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: use symbol for building tokens
  src/features/tokens/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: add `TIA/arbitrum`
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: address Andrey's comments
  src/features/tokens/SelectOrInputTokenIds.tsx
  src/features/tokens/SelectTokenIdField.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/hooks.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove unused hook
  src/features/tokens/SelectOrInputTokenIds.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: clean up TokenChainIcon component
  src/features/tokens/TokenChainIcon.tsx
  src/features/tokens/TokenListModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: migrate from yarn 4.x to pnpm 10.x
  .github/workflows/ci.yml
  .github/workflows/update-hyperlane-deps.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  README.md
  package.json
  patches/starknetkit@2.6.1.patch
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

fix: regenerate pnpm-lock.yaml for frozen install compatibility
  pnpm-lock.yaml
Due: none

fix: enable corepack for Vercel to use pnpm 10.x
  vercel.json
Due: prettier --write

fix: use corepack prepare to activate pnpm 10.25.0 on Vercel
  vercel.json
Due: prettier --write

fix: install pnpm 10.25.0 globally via npm on Vercel
  vercel.json
Due: prettier --write

fix: use npx to run pnpm 10.25.0 on Vercel
  vercel.json
Due: prettier --write

fix: explicitly specify pnpm version 10.25.0 in CI workflow
  .github/workflows/ci.yml
Due: none

Revert "fix: explicitly specify pnpm version 10.25.0 in CI workflow"
  .github/workflows/ci.yml
Due: none

fix: pin dependency versions to match yarn.lock for pnpm compatibility
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: run prettier
  .prettierrc
  LICENSE.md
  eslint.config.mjs
  pnpm-lock.yaml
  postcss.config.js
  sentry.client.config.js
  sentry.default.config.js
  src/components/errors/ErrorBoundary.tsx
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

ci: update actions/checkout and actions/setup-node to v6
  .github/workflows/ci.yml
  .github/workflows/update-hyperlane-deps.yml
Due: none

chore: bump hyperlane packages
  package.json
  yarn.lock
Due: prettier --write

chore: bump hyperlane packages (#841)
  package.json
  yarn.lock
Due: prettier --write

pnpm style improvements
  .github/workflows/ci.yml
Due: none

feat: enable USDC/paradex in nexus
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

WIP chore: arbitrum <> neutron
  src/consts/warpRouteWhitelist.ts
  src/consts/warpRoutes.ts
  src/consts/warpRoutes.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: add connection to mantapacific temporary
  src/consts/warpRoutes.ts
  src/consts/warpRoutes.yaml
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: sort getLowestFeeTransferToken by highest balance
  src/features/transfer/fees.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: separate sorting functions, add tests for sorting functions and original getLowestFeeTransferToken
  src/features/tokens/types.ts
  src/features/transfer/fees.test.ts
  src/features/transfer/fees.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false
