Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

.lintstagedrc.json:

{
  "*.{css,md,json}": ["prettier --write"],
  "*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write", "vitest related --run --coverage=false"]
}

feat: connect wallet dropdown/buttons above token selector
  src/features/analytics/utils.ts
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/RecipientConfirmationModal.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/maxAmount.ts
  src/features/transfer/useFeeQuotes.ts
  src/features/transfer/useTokenTransfer.ts
  src/features/wallet/ReceiveAddressModal.tsx
  src/features/wallet/WalletDropdown.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: reintroduce recipient balance watcher, clean up a bit
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: split cards for better readability, clean up more
  src/features/tokens/ImportTokenButton.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: temp remove flow warp routes
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: keep trump warp route
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update sentry config add replay session (#111)
  sentry.client.config.js
  sentry.default.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update sentry config add replay session (#111) (#112)
  sentry.client.config.js
  sentry.default.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: fix icons, spacing and include intitial fee section
  src/components/icons/ChevronLargeIcon.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/features/wallet/WalletDropdown.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: fix some styling
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/UnifiedTokenChainModal.tsx
  src/features/transfer/FeeSectionButton.tsx
  src/features/transfer/TransferFeeModal.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: update tip card
  src/components/icons/HyperlaneTransparentLogo.tsx
  src/components/layout/ModalHeader.tsx
  src/components/tip/TipCard.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/images/icons/info-circle.svg
  src/pages/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: include tip card action from nexus branch
  src/features/store.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: use proper textfield and font family
  src/components/input/TextField.tsx
  src/components/tip/TipCard.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update transfer details modal
  src/components/layout/ModalHeader.tsx
  src/consts/config.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/TransfersDetailsModal.tsx
  src/images/icons/confirmed-icon.svg
  src/images/icons/delivered-icon.svg
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: clean up a bit
  src/features/wallet/RecipientAddressModal.tsx
  src/features/wallet/WalletDropdown.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove unused props
  src/components/icons/HyperlaneTransparentLogo.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: refactor shouldClearAddress function
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: unused import
  src/features/tokens/TokenSelectField.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: andrey's review
  .gitignore
  src/features/tokens/balances.ts
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add Krown routes to Nexus
  src/consts/chains.yaml
  src/consts/warpRoutes.yaml
Due: none

update krown URL
  src/consts/chains.yaml
Due: none

update krown url
  src/consts/chains.yaml
Due: none

chore: update registry to 23.11.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: use registry krown configs instead of hardcoded
  src/consts/chains.yaml
  src/consts/warpRouteWhitelist.ts
  src/consts/warpRoutes.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: use registry krown configs instead of hardcoded (#876)
  src/consts/chains.yaml
  src/consts/warpRouteWhitelist.ts
  src/consts/warpRoutes.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: add click-outside-to-close for wallets sidebar
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

style: remove rounded corner from wallet sidebar header
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

style: reduce transfer section sizing for compact view
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/TransferSection.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

style: vertically center transfer form with responsive tip card layout
  src/components/layout/AppLayout.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

style: improve warning banner styling and layout alignment
  src/components/banner/WarningBanner.tsx
  src/features/transfer/TransferTokenCard.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update favicon with new branding
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.png
  public/favicon.svg
Due: none

fix: address review feedback and update app icons
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon.svg
  public/mstile-150x150.png
  src/features/wallet/SideBarMenu.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: close sidebar with Escape key
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: use variable font file for fraktion mono
  src/styles/globals.css
Due: prettier --write

feat: default multi-collateral token for transfer token
  src/consts/defaultMultiCollateralRoutes.ts
  src/features/tokens/types.ts
  src/features/tokens/utils.test.ts
  src/features/tokens/utils.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/fees.test.ts
  src/features/transfer/fees.ts
  src/features/transfer/maxAmount.ts
  src/features/transfer/useFeeQuotes.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update README and misc fixes
  CUSTOMIZE.md
  src/features/tokens/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: allow default config to be undefined
  src/consts/defaultMultiCollateralRoutes.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: fix prettier
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/fees.test.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: fix readme
  CUSTOMIZE.md
Due: prettier --write

revert favicon changes
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.png
  public/mstile-150x150.png
Due: none

fix: generic UI improvements from #877 (#879)
  src/components/banner/WarningBanner.tsx
  src/components/layout/AppLayout.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/TransferSection.tsx
  src/features/transfer/TransferTokenCard.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/features/wallet/SideBarMenu.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false
