Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

refactor: prefer aggregated warp routes with whitelist fallback
  src/consts/warpRouteWhitelist.test.ts
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add temporary destination collateral hover tooltip
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: load stableswap route from registry branch with mc-public sdk
  CUSTOMIZE.md
  package.json
  pnpm-lock.yaml
  src/consts/config.ts
  src/consts/warpRouteWhitelist.ts
  src/consts/warpRoutes.yaml
  src/features/transfer/useTokenTransfer.ts
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: pin mc registry branch in app config
  src/consts/config.ts
  src/consts/warpRouteWhitelist.test.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: fallback to per-route fetch for whitelisted registry
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: resolve fee route by destination token
  src/features/tokens/utils.test.ts
  src/features/tokens/utils.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/fees.test.ts
  src/features/transfer/fees.ts
  src/features/transfer/maxAmount.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: enable evm fee quotes without connected wallet
  src/features/transfer/useFeeQuotes.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

docs: explain connected-wallet fee quote fallback behavior
  src/features/transfer/useFeeQuotes.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: retry fee quotes with fallback sender for connected evm wallets
  src/features/transfer/useFeeQuotes.test.ts
  src/features/transfer/useFeeQuotes.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Fix CI for multicollateral preview and route selection
  package.json
  patches/@hyperlane-xyz__multicollateral.patch
  pnpm-lock.yaml
  src/features/tokens/utils.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/fees.ts
  src/features/transfer/useFeeQuotes.test.ts
  src/features/transfer/useFeeQuotes.ts
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Fix multicollateral patch for Next.js build
  package.json
  patches/@hyperlane-xyz__multicollateral@0.1.0-mc-public.70e12c844ad2ff1111074a23dba575e20ffade5e.patch
  pnpm-lock.yaml
Due: prettier --write

chore: remove multicollateral patch override
  package.json
  patches/@hyperlane-xyz__multicollateral@0.1.0-mc-public.70e12c844ad2ff1111074a23dba575e20ffade5e.patch
  pnpm-lock.yaml
Due: prettier --write

feat: add QUILL/eni route
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: update E2E tests for default token change and add data-testid selectors
  .github/workflows/playwright.yml
  README.md
  playwright.config.ts
  src/features/tokens/TokenSelectField.tsx
  tests/chain-selection/edit-chain.spec.ts
  tests/chain-selection/filter-by-protocol.spec.ts
  tests/chain-selection/filter-by-type.spec.ts
  tests/chain-selection/sort-chains.spec.ts
  tests/helpers/locators.ts
  tests/page-load/transfer-form-visible.spec.ts
  tests/token-selection/filter-chains.spec.ts
  tests/token-selection/open-close-modal.spec.ts
  tests/token-selection/search-tokens.spec.ts
  tests/token-selection/select-destination-token.spec.ts
  tests/token-selection/select-origin-token.spec.ts
  tests/transfer-form/swap-tokens.spec.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: shard E2E tests across 4 parallel jobs and fix flaky token selectors
  .github/workflows/playwright.yml
  playwright.config.ts
  tests/token-selection/select-destination-token.spec.ts
  tests/token-selection/select-origin-token.spec.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address CodeRabbit review feedback
  README.md
  tests/wallet-connect/protocol-wallet-modals.spec.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: share build and browser install across E2E shards
  .github/workflows/playwright.yml
Due: none

ci: merge E2E workflow into ci.yml, share build across shards
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
Due: none

fix: use tar for build artifact sharing, reduce to 2 shards
  .github/workflows/ci.yml
Due: none

Add embeddable widget runtime, SDK host fixture, and host e2e
  .github/workflows/ci.yml
  .gitignore
  README.md
  docs/sdk-integration.md
  examples/next-vanilla-host/.gitignore
  examples/next-vanilla-host/app/iframe/page.js
  examples/next-vanilla-host/app/layout.js
  examples/next-vanilla-host/app/page.js
  examples/next-vanilla-host/app/sdk/page.js
  examples/next-vanilla-host/next.config.js
  examples/next-vanilla-host/package.json
  next.config.js
  package.json
  packages/warp-widget-sdk/node_modules/react
  packages/warp-widget-sdk/package.json
  packages/warp-widget-sdk/src/iframe.js
  packages/warp-widget-sdk/src/index.d.ts
  packages/warp-widget-sdk/src/index.js
  playwright.host.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/features/store.ts
  src/features/wallet/context/EvmWalletContext.tsx
  src/pages/_app.tsx
  src/pages/embed.tsx
  tests/host-integration/iframe-host.spec.ts
  tests/host-integration/sdk-host.spec.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Remove accidental workspace node_modules symlink
  packages/warp-widget-sdk/node_modules/react
Due: none

Add URL-themed embed styling + host showcases with default pairs
  docs/sdk-integration.md
  examples/next-vanilla-host/app/iframe/page.js
  examples/next-vanilla-host/app/page.js
  examples/next-vanilla-host/app/sdk/page.js
  examples/next-vanilla-host/app/showcase/mantrausd/page.js
  examples/next-vanilla-host/app/showcase/usdai/page.js
  packages/warp-widget-sdk/src/iframe.js
  packages/warp-widget-sdk/src/index.d.ts
  src/features/tokens/TokenList.tsx
  src/features/tokens/UnifiedTokenChainModal.tsx
  src/pages/embed.tsx
  tests/host-integration/iframe-host.spec.ts
  tests/host-integration/sdk-host.spec.ts
  tests/host-integration/showcase-host.spec.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update mobile web fix & next.config optimize performance (#146)
  next.config.js
  package.json
  public/service-worker.js
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/wallet/SideBarMenu.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: attestation proxy
  .env.example
  package.json
  pnpm-lock.yaml
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/useFeeQuotes.ts
  src/features/transfer/useTokenTransfer.ts
  src/lib/predicateClient.ts
  src/pages/api/predicate/attestation.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: pnpm lock
  pnpm-lock.yaml
Due: none

fix: custom chains
  src/consts/chains.yaml
  src/consts/warpRoutes.yaml
Due: none

fix: keep original format
  pnpm-lock.yaml
  src/consts/chains.yaml
  src/consts/warpRoutes.yaml
Due: none

fix: origin token field in token selection event
  src/features/analytics/types.ts
  src/features/analytics/utils.ts
  src/features/tokens/TokenSelectField.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: origin token field in token selection event (#997)
  src/features/analytics/types.ts
  src/features/analytics/utils.ts
  src/features/tokens/TokenSelectField.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add event for unsupported route
  src/features/analytics/types.ts
  src/features/analytics/utils.ts
  src/features/tokens/TokenSelectField.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add event for unsupported route (#999)
  src/features/analytics/types.ts
  src/features/analytics/utils.ts
  src/features/tokens/TokenSelectField.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add transfer progress timeline and delivery tracking
  src/features/messages/queries/build.ts
  src/features/messages/queries/fragments.ts
  src/features/messages/useMessageDeliveryStatus.ts
  src/features/store.ts
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/transfer/types.ts
  src/features/transfer/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove ECLIP/arbitrum-neutron route
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Add REVIEW.md for Claude Code automated reviews
  REVIEW.md
Due: prettier --write

Update REVIEW.md to match existing code-review prompt content
  REVIEW.md
Due: prettier --write

Propagate review skill improvements and remove turn caps from workflow
  .claude/skills/claude-review/SKILL.md
  .claude/skills/inline-pr-comments/SKILL.md
  .github/workflows/claude-code-review.yml
Due: prettier --write

Refactor claude-review skill to use REVIEW.md, remove code-review.md
  .claude/skills/claude-review/SKILL.md
  .github/prompts/code-review.md
Due: prettier --write

chore: add REVIEW.md, update AI review docs (#1003)
  .claude/skills/claude-review/SKILL.md
  .claude/skills/inline-pr-comments/SKILL.md
  .github/workflows/claude-code-review.yml
  REVIEW.md
Due: prettier --write

Update AGENTS.md review path to REVIEW.md
  AGENTS.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{css,md,json}) or (any of: *.{js,ts,jsx,tsx})
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  vitest related --run --coverage=false: any of: *.{js,ts,jsx,tsx}
