Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

.lintstagedrc.json:

{
  "*.{css,md,json}": ["prettier --write"],
  "*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write", "vitest related --run --coverage=false"]
}

chore: update prettier unit tests (#97)
  src/components/buttons/__tests__/SolidButton.test.tsx
  src/components/errors/__tests__/ErrorBoundary.test.tsx
  src/components/icons/__tests__/CustomSwapIcon.test.tsx
  src/components/input/__tests__/TextField.test.tsx
  src/components/layout/__tests__/Card.test.tsx
  src/components/nav/__tests__/Footer.test.tsx
  src/components/tip/__tests__/TipCard.test.tsx
  src/features/chains/__tests__/index.test.ts
  src/features/sanctions/hooks/__tests__/index.test.ts
  src/features/transfer/__tests__/maxAmount.test.ts
  src/features/wallet/__tests__/WalletConnectionWarning.test.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: add redirect to bridge dashboard (#98)
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Chore: Update Prettier & Schema Pre-Commit (#99)
  .husky/pre-commit
  src/components/buttons/__tests__/SolidButton.test.tsx
  src/components/errors/__tests__/ErrorBoundary.test.tsx
  src/components/icons/__tests__/CustomSwapIcon.test.tsx
  src/components/input/__tests__/TextField.test.tsx
  src/components/layout/__tests__/Card.test.tsx
  src/components/nav/__tests__/Footer.test.tsx
  src/components/tip/__tests__/TipCard.test.tsx
  src/features/chains/__tests__/index.test.ts
  src/features/sanctions/hooks/__tests__/index.test.ts
  src/features/transfer/__tests__/maxAmount.test.ts
  src/features/wallet/__tests__/WalletConnectionWarning.test.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: aleo puzzle wallet
  package.json
  src/pages/_app.tsx
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: enable aleo wallet
  src/consts/config.ts
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Staging Add New USDC Routes (#100)
  src/consts/warpRoutes.yaml
Due: none

Remove USDC (#101)
  src/consts/warpRoutes.yaml
Due: none

NEX-73: Fix Bridge Redirect Dashboard Chain Not Selected (#104)
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/useDashboardDestinationSync.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: whitelist USDCS, wM routes
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: whitelist USDCS, wM routes (#811)
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update registry to 23.6.0
  package.json
  yarn.lock
Due: prettier --write

chore: update registry to 23.6.0 (#812)
  package.json
  yarn.lock
Due: prettier --write

feat: search by collateral address
  src/features/tokens/TokenListModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: search by collateral address (#815)
  src/features/tokens/TokenListModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: dedupe tokens for m0 standards by adding symbol
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: use symbol instead of addressOrDenom for url params
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/hooks.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: clean up
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove connection to celestia
  src/consts/warpRoutes.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: added best token to the ehitelist
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: add aleo testnet route
  src/consts/chains.yaml
  src/consts/warpRoutes.yaml
  yarn.lock
Due: none

chore: keep stride connection
  src/consts/warpRoutes.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: dedupe tokens now include symbols and url params use symbol instead (#816)
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/hooks.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Prod Add New USDC Bridge (#102)
  src/consts/warpRoutes.yaml
Due: none

Prod Add USDT (#103)
  public/images/tokens/USDT/logo.svg
  src/consts/warpRoutes.yaml
Due: none

fix: temporary check m0 standard for dedupeTokens
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: fix duplicate assignment
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: temporary check m0 standard for dedupeTokens (#821)
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: NEX-93 - fix the ambiguous message when less balance than fee (#105)
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

- Update the main font to Figtree for application-wide consistency - Change application name to "Runes Bridge" - Update branding elements (background color and imagery) - Add new logo SVG file
  .env.example
  public/backgrounds/main.svg
  src/components/about/HowItWorks.tsx
  src/components/about/assets/Midl.svg
  src/components/about/assets/container.svg
  src/components/buttons/ConnectAwareSubmitButton.tsx
  src/components/buttons/SolidButton.tsx
  src/components/input/TextField.tsx
  src/components/layout/AppLayout.tsx
  src/components/nav/FloatingButtonStrip.tsx
  src/components/nav/Header.tsx
  src/components/tip/TipCard.tsx
  src/consts/app.ts
  src/features/chains/ChainSelectField.tsx
  src/features/chains/ChainSelectModal.tsx
  src/features/tokens/TokenListModal.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/FeeSectionButton.tsx
  src/features/transfer/TransferTokenCard.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/wallet/ConnectWalletButton.tsx
  src/features/wallet/SideBarMenu.tsx
  src/images/logos/logo-group.svg
  src/pages/index.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: aleo galileo wallet
  package.json
  src/consts/config.ts
  src/pages/_app.tsx
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Rename Midl.svg to MidlS.svg to update asset naming convention in HowItWorks component
  src/components/about/HowItWorks.tsx
  src/components/about/assets/midlS.svg
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore(deps): update `yarn.lock` with new dependencies and version upgrades
  .env.example
  next.config.js
  package.json
  src/components/buttons/ConnectAwareSubmitButton.tsx
  src/components/layout/AppLayout.tsx
  src/components/nav/FloatingButtonStrip.tsx
  src/components/nav/Header.tsx
  src/features/wallet/BitcoinConnectButton.tsx
  src/features/wallet/ConnectWalletButton.tsx
  src/features/wallet/SideBarMenu.tsx
  src/features/wallet/WalletTypeSelectModal.tsx
  src/features/wallet/assets/btc.svg
  src/features/wallet/assets/eth.svg
  src/features/wallet/context/BitcoinWalletContext.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: make create-merge-prs workflow more robust with Gonk migration
  .github/workflows/create-merge-prs.yaml
Due: none

test: add pull_request trigger to test workflow in PR
  .github/workflows/create-merge-prs.yaml
Due: none

chore: remove trump from branch matrix
  .github/workflows/create-merge-prs.yaml
Due: none

fix: still create PR even with merge conflicts
  .github/workflows/create-merge-prs.yaml
Due: none

fix: stage conflicted files before pushing branch
  .github/workflows/create-merge-prs.yaml
Due: none

Update .github/workflows/create-merge-prs.yaml
  .github/workflows/create-merge-prs.yaml
Due: none

chore: deprecate injective by removing from workflows
  .github/workflows/ci.yml
  .github/workflows/create-merge-prs.yaml
Due: none
