Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

.lintstagedrc.json:

{
  "*.{css,md,json}": ["prettier --write"],
  "*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write", "vitest related --run --coverage=false"]
}

feat: batch CoinGecko price fetching with 5min cache
  src/features/store.ts
  src/features/tokens/TokenListModal.tsx
  src/features/tokens/useTokenPrice.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add Celestia warp route configs for SOL, ETH, and WBTC
  src/consts/warpRoutes.yaml
Due: none

feat: restrict warp route whitelist to Celestia routes
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: batch CoinGecko price fetching with 5min cache (#964)
  src/features/store.ts
  src/features/tokens/TokenListModal.tsx
  src/features/tokens/useTokenPrice.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: conflict in store.ts
  src/features/store.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: wire multi-router route resolution in warp ui
  package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/link-monorepo.js
  scripts/unlink-monorepo.js
  src/features/analytics/utils.ts
  src/features/limits/utils.test.ts
  src/features/limits/utils.ts
  src/features/tokens/utils.test.ts
  src/features/tokens/utils.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/fees.test.ts
  src/features/transfer/fees.ts
  src/features/transfer/maxAmount.test.ts
  src/features/transfer/maxAmount.ts
  src/features/transfer/multiRouterWarpCore.ts
  src/features/transfer/routeResolution.test.ts
  src/features/transfer/routeResolution.ts
  src/features/transfer/useFeeQuotes.test.ts
  src/features/transfer/useFeeQuotes.ts
  src/features/transfer/useTokenTransfer.ts
  src/features/warpCore/warpCoreConfig.test.ts
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: remove relative from warning banners container
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: suppress theme hydration warning and handle extensionless logo paths
  src/components/layout/AppLayout.tsx
  src/utils/imageBrightness.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: normalize timestamps to ms and use synchronous theme script
  src/pages/_document.tsx
  src/utils/date.ts
  src/utils/imageBrightness.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: inline theme-init script to avoid network fetch
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: remove deprecated matchMedia fallback and revert inline theme script
  src/components/layout/AppLayout.tsx
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: suppress no-sync-scripts lint for theme-init script
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: restore htmlFor on Token label
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove MILK/bsc-milkway route
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix latest PR review feedback
  src/components/icons/TokenIcon.tsx
  src/components/layout/AppLayout.tsx
  src/components/nav/Header.tsx
  src/consts/app.ts
  src/styles/globals.css
  src/utils/theme.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: run prettier on TokenIcon
  src/components/icons/TokenIcon.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Merge pull request #918 from hyperlane-xyz/xaroz/updated-analytics
  src/consts/config.ts
  src/features/analytics/types.ts
  src/features/analytics/utils.ts
  src/features/chains/ChainFilterPanel.tsx
  src/features/chains/ChainList.tsx
  src/features/chains/MobileChainQuickSelect.tsx
  src/features/chains/hooks.ts
  src/features/tokens/TokenListPanel.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/UnifiedTokenChainModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: unify themed background CSS and dark body gradient
  src/styles/globals.css
Due: prettier --write

style: restore v2 TipCard side-panel layout
  src/components/tip/TipCard.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: remove duplicate dev dependency
  package.json
Due: prettier --write

feat: v2 token picker balance display + smart sorting
  src/components/input/SearchInput.tsx
  src/consts/config.ts
  src/features/balances/hooks.ts
  src/features/tokens/TokenList.tsx
  src/features/tokens/TokenListPanel.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/UnifiedTokenChainModal.tsx
  src/features/tokens/balances.ts
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: resolve typecheck errors in config and balance hooks
  src/consts/config.ts
  src/features/balances/hooks.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: updated TipCard for information about ETH
  src/components/tip/TipCard.tsx
  src/components/tip/const.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: add send icon
  src/images/icons/send-icon.svg
Due: none

fix: use batch useTokenPrices() for fee USD display
  src/features/tokens/useFeePrices.ts
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove hard-coded celestia <> eclipse,arbitrum interchain fee
  src/consts/warpRoutes.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

refactor: unify formatUsd and move fee USD files to balances/
  package.json
  pnpm-lock.yaml
  src/features/balances/UsdLabel.tsx
  src/features/balances/feeUsdDisplay.test.ts
  src/features/balances/feeUsdDisplay.ts
  src/features/balances/useFeePrices.ts
  src/features/balances/utils.ts
  src/features/transfer/FeeSectionButton.tsx
  src/features/transfer/TransferFeeModal.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address PR review feedback for fee USD display
  .yarn/install-state.gz
  src/features/balances/feeUsdDisplay.ts
  src/features/balances/useFeePrices.ts
  src/features/transfer/FeeSectionButton.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

refactor: use isNullish() for nullish price checks
  src/features/balances/feeUsdDisplay.ts
  src/features/balances/useFeePrices.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: display USD values for fee quotes (#949)
  package.json
  pnpm-lock.yaml
  src/features/balances/UsdLabel.tsx
  src/features/balances/feeUsdDisplay.test.ts
  src/features/balances/feeUsdDisplay.ts
  src/features/balances/useFeePrices.ts
  src/features/balances/utils.ts
  src/features/tokens/useTokenPrice.tsx
  src/features/transfer/FeeSectionButton.tsx
  src/features/transfer/TransferFeeModal.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: restore files accidentally dropped during merge
  .claude/skills/claude-review/SKILL.md
  .claude/skills/claude-security-review/SKILL.md
  .claude/skills/commit/SKILL.md
  .claude/skills/inline-pr-comments/SKILL.md
  .github/prompts/code-review.md
  .github/prompts/security-scan.md
  .github/workflows/claude-code-review.yml
  AGENTS.md
  scripts/README.md
Due: prettier --write

fix: address PR review feedback for token picker balances
  src/components/input/SearchInput.tsx
  src/features/balances/hooks.ts
  src/features/tokens/TokenList.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

refactor: clean up token balance fetching and display logic
  src/features/tokens/TokenList.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: reset token list scroll on search/chain filter change
  src/features/tokens/TokenList.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Fix/reorder-eth-mainnet-rpc (#130)
  src/consts/chains.yaml
Due: none

chore: update dependencies to latest
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: set specific ethers version for tronweb
  package.json
  pnpm-lock.yaml
Due: prettier --write
