Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

.lintstagedrc.json:

{
  "*.{css,md,json}": ["prettier --write"],
  "*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write", "vitest related --run --coverage=false"]
}

chore: re-add comments
  src/features/transfer/fees.test.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: more clean up fixes
  src/features/transfer/fees.test.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: add old arbitrum route
  src/consts/warpRouteWhitelist.ts
  src/consts/warpRoutes.ts
  src/consts/warpRoutes.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: arb id
  src/consts/warpRoutes.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: move getTokenKey to utils and reuse logic
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/hooks.ts
  src/features/tokens/utils.ts
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: create TokenChainIcon component
  src/features/tokens/TokenChainIcon.tsx
  src/features/tokens/TokenListModal.tsx
  src/features/tokens/TokenSelectField.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: build origin and destination token arrays
  src/features/store.ts
  src/features/tokens/hooks.ts
  src/features/tokens/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: clean up TokenChainIcon component
  src/features/tokens/TokenChainIcon.tsx
  src/features/tokens/TokenListModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: use symbol for building tokens
  src/features/tokens/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: separate filtering logic for promises, refactor functions
  src/features/tokens/types.ts
  src/features/transfer/fees.test.ts
  src/features/transfer/fees.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: create promise check util function
  src/utils/promises.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

CR: andrey
  .github/workflows/ci.yml
  README.md
Due: prettier --write

undo root level prettierying and explicitly ignore LICENSE.md from prettier
  .prettierignore
  LICENSE.md
  eslint.config.mjs
  postcss.config.js
  sentry.client.config.js
  sentry.default.config.js
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

yo dawg i heard you liked prettier so we unprettiered your prettierrc to better prettier the prettier
  .prettierrc
Due: none

fix: contract check for EIP-7702 addresses to not show banner
  src/features/transfer/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: sort by collateral balance in getLowestFeeTransferToken (#848)
  src/features/tokens/types.ts
  src/features/transfer/fees.test.ts
  src/features/transfer/fees.ts
  src/utils/promises.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: upgrade next to 15.0.7
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade next to 15.0.7 (#852)
  package.json
  yarn.lock
Due: prettier --write

fix: isSmartContract check for EIP-7702 addresses to not show banner (#850)
  src/features/transfer/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

remove vercel.json + enable corepack env var
  vercel.json
Due: prettier --write

chore: update lockfile after pulling main
  pnpm-lock.yaml
Due: none

CR: coderabbit
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: whoopsie
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat!: pnpm migration (#840)
  .github/workflows/ci.yml
  .github/workflows/update-hyperlane-deps.yml
  .gitignore
  .prettierignore
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  README.md
  package.json
  patches/starknetkit@2.6.1.patch
  pnpm-lock.yaml
  src/components/errors/ErrorBoundary.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: resolve merge conflicts from pnpm migration
  package.json
  src/components/buttons/ConnectAwareSubmitButton.tsx
  src/consts/config.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: resolve merge conflicts and add cosmjs patch for pnpm
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove yarn.lock for pnpm migration
  yarn.lock
Due: none

fix: resolve merge conflicts from main and migrate to pnpm
  package.json
  patches/@cosmjs-cosmwasm-stargate-npm-0.32.4-f9dd51429c.patch
  pnpm-lock.yaml
  src/components/layout/AppLayout.tsx
  src/consts/chains.ts
  src/consts/config.ts
  src/features/transfer/TransferTokenForm.tsx
  yarn.lock
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: resolve merge conflicts from main for pnpm migration
  src/consts/chains.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove unused protocols in wallet connect
  src/consts/config.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: improve merge detection for squash-merged branches
  .github/workflows/create-merge-prs.yaml
Due: none

chore: remove MINT route
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove MINT route (#860)
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove form routes from warpRouteWhiteList
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: improve merge detection for squash-merged branches (#859)
  .github/workflows/create-merge-prs.yaml
Due: none

Revert "fix: improve merge detection for squash-merged branches (#859)"
  .github/workflows/create-merge-prs.yaml
Due: none

Revert "fix: improve merge detection for squash-merged branches" (#862)
  .github/workflows/create-merge-prs.yaml
Due: none

fix: resolve merge conflicts
  package.json
  pnpm-lock.yaml
Due: prettier --write
