Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

.lintstagedrc.json:

{
  "*.{css,md,json}": ["prettier --write"],
  "*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write", "vitest related --run --coverage=false"]
}

chore: replace footer logo with chatbot
  src/components/nav/Footer.tsx
  src/features/analytics/intercom.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Merge pull request #911 from hyperlane-xyz/xaroz/intercom-integration
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/layout/AppLayout.tsx
  src/components/nav/Footer.tsx
  src/features/analytics/intercom.ts
  src/styles/globals.css
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: conflits
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: adjust intercom position to the right instead
  src/components/nav/Footer.tsx
  src/features/analytics/intercom.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Merge pull request #913 from hyperlane-xyz/xaroz/adjust-intercom
  src/components/nav/Footer.tsx
  src/features/analytics/intercom.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: migrate to Node.js 24 LTS
  .github/workflows/ci.yml
  .nvmrc
  package.json
Due: prettier --write

chore: update @types/node to v24 to match Node.js version
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: migrate to Node.js 24 LTS (#915)
  .github/workflows/ci.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add krown token to the warp route whitelist
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: eslint errors and toast error using old values
  src/features/tokens/TokenList.tsx
  src/features/transfer/FeeSectionButton.tsx
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: update analytics events
  src/consts/config.ts
  src/features/analytics/types.ts
  src/features/analytics/utils.ts
  src/features/chains/ChainFilterPanel.tsx
  src/features/chains/ChainList.tsx
  src/features/chains/MobileChainQuickSelect.tsx
  src/features/chains/hooks.ts
  src/features/tokens/TokenListPanel.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/tokens/UnifiedTokenChainModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: block contract addresses as transfer recipients
  src/consts/blacklist.ts
  src/features/store.test.ts
  src/features/store.ts
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

style: fix prettier formatting
  src/features/store.test.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: only normalize EVM hex addresses for case-insensitive matching
  src/features/store.test.ts
  src/features/store.ts
  src/features/transfer/TransferTokenForm.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: optimize token lookups (#903)
  eslint.config.mjs
  src/features/store.ts
  src/features/tokens/TokenList.tsx
  src/features/tokens/UnifiedTokenChainModal.tsx
  src/features/tokens/hooks.ts
  src/features/tokens/utils.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add token logos for USDC, USDT, and USDSC adapters
  src/consts/warpRoutes.yaml
Due: none

ci: add Claude code review workflow
  .github/prompts/code-review.md
  .github/prompts/security-scan.md
  .github/workflows/claude-code-review.yml
  .gitignore
  CLAUDE.md
Due: prettier --write

ci: simplify security review trigger - auto on non-draft PRs
  .github/workflows/claude-code-review.yml
Due: none

chore: remove duplicate blank lines in CLAUDE.md
  CLAUDE.md
Due: prettier --write

chore: use opus for code/security review, checkout@v6
  .github/workflows/claude-code-review.yml
Due: none

fix: add fork guards and PR SHA checkout for security
  .github/workflows/claude-code-review.yml
Due: none

fix: add same-repo guard for label-triggered code-review
  .github/workflows/claude-code-review.yml
Due: none

fix: add PR guard and same-repo check to interactive job
  .github/workflows/claude-code-review.yml
Due: none

feat: add claude-review and claude-security-review skills
  .claude/skills/claude-review/SKILL.md
  .claude/skills/claude-security-review/SKILL.md
Due: prettier --write

fix: remove Solidity-specific guidance from frontend code review prompt
  .github/prompts/code-review.md
Due: prettier --write

ci: add Claude code review workflow (#920)
  .claude/skills/claude-review/SKILL.md
  .claude/skills/claude-security-review/SKILL.md
  .github/prompts/code-review.md
  .github/prompts/security-scan.md
  .github/workflows/claude-code-review.yml
  .gitignore
  CLAUDE.md
Due: prettier --write

Update helpers
  src/consts/warpRoutes.yaml
Due: none

Update stableswap helpers and add full token connectivity
  src/consts/warpRoutes.yaml
Due: none

chore: remove tokens and use registry
  package.json
  pnpm-lock.yaml
  src/consts/warpRoutes.yaml
Due: prettier --write

chore: disable ETH/ethereum-viction route for migration
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Use stableswap registry branch and whitelist stableswap-pool route
  src/consts/config.ts
  src/consts/warpRouteWhitelist.ts
  src/consts/warpRoutes.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Add AGENTS.md as duplicate of CLAUDE.md
  AGENTS.md
Due: prettier --write

Make AGENTS.md generic by removing Claude-specific references
  AGENTS.md
Due: prettier --write

Add code review section to AGENTS.md
  AGENTS.md
Due: prettier --write

Add utils to core libraries list
  AGENTS.md
  CLAUDE.md
Due: prettier --write

chore: enable wasm-unsafe-eval and upgrade hyperlane packages
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Add AGENTS.md as duplicate of CLAUDE.md (#922)
  AGENTS.md
Due: prettier --write

chore: enable wasm-unsafe-eval and upgrade hyperlane packages (#923)
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: load page in bg color
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: run prettier
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false
