Repository hyperlane-xyz/hyperlane-warp-ui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run --coverage=false

.lintstagedrc.json:

{
  "*.{css,md,json}": ["prettier --write"],
  "*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write", "vitest related --run --coverage=false"]
}

feat: add ROAM/eni route to nexus
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Revert "feat: add ROAM/eni route to nexus"
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Hardcode registry branch for preview deployment
  src/consts/config.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: load page in bg color (#924)
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Update Claude model from opus 4.5 to opus 4.6
  .github/workflows/claude-code-review.yml
Due: none

Make Claude model IDs configurable via env vars
  .github/workflows/claude-code-review.yml
Due: none

chore(ci): update Claude model to opus 4.6 (#927)
  .github/workflows/claude-code-review.yml
Due: none

fix(build): conditionally disable Sentry source map upload to prevent build hangs
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

perf(build): skip lint/typecheck during build and optimize package imports
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

ci: add typecheck job and parallelize all CI jobs
  .github/workflows/ci.yml
Due: none

feat: fetch transaction history from Explorer API
  package.json
  pnpm-lock.yaml
  src/features/messages/graphqlClient.ts
  src/features/messages/queries/build.ts
  src/features/messages/queries/encoding.ts
  src/features/messages/queries/fragments.ts
  src/features/messages/types.ts
  src/features/messages/useMessageHistory.ts
  src/features/store.ts
  src/features/transfer/TransfersDetailsModal.tsx
  src/features/transfer/utils.ts
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

refactor: clean up queries, remove unused code, run prettier
  src/features/messages/queries/build.ts
  src/features/messages/queries/encoding.ts
  src/features/messages/useMessageHistory.ts
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix(build): disable Sentry source map upload to prevent build hangs (#928)
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: remove unused MessagesStubQueryResult and isPiMsg
  src/features/messages/queries/fragments.ts
  src/features/messages/types.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

perf(build): skip lint/typecheck during Vercel build (#929)
  .github/workflows/ci.yml
  next.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address PR review feedback
  package.json
  pnpm-lock.yaml
  src/features/messages/useMessageHistory.ts
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

refactor: address additional review feedback
  src/consts/config.ts
  src/features/messages/graphqlClient.ts
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat(ci): use skills for claude review workflows
  .claude/skills/claude-review/SKILL.md
  .claude/skills/claude-security-review/SKILL.md
  .claude/skills/inline-pr-comments/SKILL.md
  .github/workflows/claude-code-review.yml
  AGENTS.md
Due: prettier --write

fix: use JSON.stringify for address key memoization
  src/features/messages/useMessageHistory.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat(ci): use skills for claude review workflows (#931)
  .claude/skills/claude-review/SKILL.md
  .claude/skills/claude-security-review/SKILL.md
  .claude/skills/inline-pr-comments/SKILL.md
  .github/workflows/claude-code-review.yml
  AGENTS.md
Due: prettier --write

refactor: extract merge logic into useMergedTransferHistory hook
  src/features/messages/useMergedTransferHistory.ts
  src/features/wallet/SideBarMenu.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

Update warpRouteWhitelist.ts to include ROAM/eni
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix(types): use KnownProtocolType for account records after SDK v25 upgrade
  src/features/analytics/utils.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/maxAmount.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

refactor: use useInfiniteQuery and fix wireDecimals calculation
  src/features/messages/useMergedTransferHistory.ts
  src/features/messages/useMessageHistory.ts
  src/features/store.ts
  src/features/transfer/TransferTokenForm.tsx
  src/features/wallet/SideBarMenu.tsx
  src/features/warpCore/warpCoreConfig.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: aleo nexus support
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/link-monorepo.js
  scripts/unlink-monorepo.js
  src/consts/chains.yaml
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: v2 visual rebrand — purple/pink palette, new fonts, gradient UI
  .env.example
  .gitignore
  public/backgrounds/main.svg
  scripts/fetch-fonts.mjs
  src/components/buttons/SolidButton.tsx
  src/components/icons/BookIcon.tsx
  src/components/icons/HamburgerIcon.tsx
  src/components/icons/HyperlaneGradientLogo.tsx
  src/components/icons/HyperlaneTransparentLogo.tsx
  src/components/icons/StakeIcon.tsx
  src/components/icons/WebSimpleIcon.tsx
  src/components/icons/XIcon.tsx
  src/components/nav/Footer.tsx
  src/components/nav/Header.tsx
  src/components/nav/Nav.tsx
  src/components/tip/TipCard.tsx
  src/consts/app.ts
  src/consts/links.ts
  src/features/WarpContextInitGate.tsx
  src/features/wallet/ConnectWalletButton.tsx
  src/features/wallet/SideBarMenu.tsx
  src/images/icons/collapse-icon.svg
  src/images/icons/confirmed-icon.svg
  src/images/icons/delivered-icon.svg
  src/images/icons/info-circle.svg
  src/images/logos/app-logo.svg
  src/images/logos/app-name.svg
  src/images/logos/app-title.svg
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/styles/globals.css
  tailwind.config.js
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: fee always-visible with loading dots, support nav link, question mark icon
  src/components/icons/QuestionMarkIcon.tsx
  src/components/nav/Nav.tsx
  src/features/transfer/FeeSectionButton.tsx
  src/features/transfer/TransferFeeModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

style: font-secondary usage, softer background gradient, lg breakpoint for nav
  src/components/nav/Footer.tsx
  src/components/nav/Header.tsx
  src/consts/app.ts
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/TransferTokenForm.tsx
  src/features/transfer/TransfersDetailsModal.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: move logo for tip card
  src/components/tip/TipCard.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: address PR review feedback
  scripts/fetch-fonts.mjs
  src/components/nav/Header.tsx
  src/components/nav/Nav.tsx
  src/features/tokens/TokenSelectField.tsx
  src/features/transfer/FeeSectionButton.tsx
  src/features/transfer/TransfersDetailsModal.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

chore: run prettier
  src/features/transfer/FeeSectionButton.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: resolve lint error in useLoadingDots hook
  src/features/transfer/FeeSectionButton.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: add ETH/viction first party warp route to nexus
  src/consts/defaultMultiCollateralRoutes.ts
  src/consts/warpRouteWhitelist.ts
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: wire font pipeline (devDep + build scripts)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(fonts): make fetch script resilient and run on dev
  package.json
Due: prettier --write

feat: add aleo context provider
  src/features/wallet/context/AleoWalletContext.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

feat: aleo nexus support (#933)
  next.config.js
  package.json
  pnpm-lock.yaml
  src/consts/config.ts
  src/features/wallet/context/AleoWalletContext.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false

fix: aleo popup
  src/features/wallet/context/AleoWalletContext.tsx
Due: prettier --write, eslint --fix, vitest related --run --coverage=false
